In [3]:
# Create a list with integer values from 0-99
l = list(range(100))

In [5]:
# Create a list with integer values from 0-99
if 50 in l:
    print('The value 50 is in the list')

The value 50 is in the list

In [7]:
l[50]

50

In [19]:
%%timeit
50 in l

746 ns ± 22.1 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [13]:
# Create a set with integer values from 0-99
s = set(l)

# A set in Python does not contain duplicate elements

In [15]:
# Check if the value 50 is in the set
50 in s

True

In [20]:
%%timeit
50 in s

56.4 ns ± 2.03 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [18]:
# s[50]

# Indexing sets is not possible

In [21]:
# Sets will also be beneficial to use if you want to perform any type of set operation
s2 = {99, 100}

In [23]:
type(s2)

set

In [24]:
s.intersection(s2)

{99}

In [26]:
s.difference(s2)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98}

In [27]:
s2.difference(s)

{100}